*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  color: #333;
  text-decoration: none;
}

h1,h2,h3{
  padding-bottom: 20px;
}

p{
  padding: 10px;
}

.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary{
  color: #618264;
}

.lead{
  font-size: 20px;
}




/*Navbar*/
#navbar{
  background: #618264;
  color: #fff;
  overflow: auto;
}

#navbar a{
  color: #fff;
}

#navbar h1{
  float: left;
  padding-top: 20px;
}

#navbar ul{
  list-style: none;
  float: right;
}

#navbar ul li{
  float: left;
}

#navbar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
  background: #79AC78;
  color: #fff;
}

#sidebar {
  width: 50px; /* Initial width */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  transition: width 0.3s ease; /* Transition effect for width change */
  z-index: 999;
  display: flex;
  
  align-items: center; /* Vertically center items */
}

.sidebar-icon {
  margin-top: auto; /* Move icon to the bottom */
  width: 50px; /* Same width as sidebar */
  display: flex;
  align-items: center; /* Horizontally center icon */
  justify-content: center; /* Vertically center icon */
}

.sidebar-icon i {
  color: #fff;
}

#sidebar:hover {
  width: 200px; /* Width on hover */
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Transition effect for opacity change */
 
}

#sidebar:hover ul li {
  opacity: 1; /* Make visible on hover */
  display: block;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex; /* Use flexbox to align icon and text vertically */
  align-items: center; /* Vertically center icon and text */
  padding: 10px;
 
}
#sidebar ul li a i {
  margin-right: 10px; /* Add margin between icon and text */
}

#sidebar ul li a:hover {
  background-color: #555;
}

/*Navbar*/
#navbar.navsticky{
  background: #618264;
  color: #fff;
  overflow: auto;
  z-index: 1000; /* Ensure navbar appears above sidebar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Add padding to navbar to avoid being covered by sidebar */
#navbar .container {
  padding-left: 20px;
}

/* Adjust navbar links to avoid being covered by sidebar */
#navbar ul li a {
  padding: 20px 15px;
}


body {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-color: #f4f4f4;
}

.certificate-container {
  margin-top: 200px;
  background: white;
  padding: 20px;
  border: 1px solid #000;
  width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  text-align: left;
}

.header-left h3,
.header-left h4 {
  margin: 0;
  font-size: 16px;
}

.header-right {
  text-align: right;
}

.serie-numar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.serie-numar label {
  margin-right: 5px;
}

header h2 {
  font-size: 18px;
  margin: 20px 0 0 0;
}

.info-section {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row label {
  flex: 0 0 40%;
  text-align: left;
}

.row input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


/* Print styles */
@media print {
    body * {
        visibility: hidden;
    }
    
    .certificate-container, .certificate-container * {
        visibility: visible;
    }
    
    .certificate-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
    }
}

/* Stil pentru modal */
/* Stil pentru modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Ajustează lățimea modalului */
  text-align: center; /* Centrează textul în modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


