/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}
h2{
  margin-bottom: 30px;
}
p {
  padding: 10px;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #618264;
}

.lead {
  font-size: 20px;
}

/* Navbar */
#navbar {
  background: #618264;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #79AC78;
  color: #fff;
}

#sidebar {
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  transition: width 0.3s ease;
  z-index: 999;
  display: flex;
  align-items: center;
}

.sidebar-icon {
  margin-top: auto;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon i {
  color: #fff;
}

#sidebar:hover {
  width: 200px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#sidebar:hover ul li {
  opacity: 1;
  display: block;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li a:hover {
  background-color: #555;
}

#navbar.navsticky {
  background: #618264;
  color: #fff;
  overflow: auto;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar .container {
  padding-left: 20px;
}

#navbar ul li a {
  padding: 20px 15px;
}

/* Centering form */
.container-centrat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Ajustează înălțimea pentru a exclude navbar-ul */
  padding-top: 80px; /* Ajustează pentru navbar */
}

.form-title {
  margin-bottom: 20px; /* Add some space between the title and the form */
}

.form-container {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center; /* Center the text inside the form container */
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Align text to the left inside the form group */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #618264;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  width: 50%; /* Make the button full width */
}

button:hover {
  background: #79AC78;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-left: 6px solid;
}

.message.error {
  background: #ffdddd;
  border-color: #f44336;
}

.message.success {
  background: #ddffdd;
  border-color: #4CAF50;
}